<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("./partials/extensions.ejs") %>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
      <div class="jumbotron text-center">
        <h3>Biz Kimiz ?</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora iste
          maxime natus possimus, eum, laborum numquam aperiam quod ex suscipit
          modi vero, vel dolorum sint ipsam iusto iure accusamus tempore
          assumenda deserunt quam enim provident? Perferendis neque iusto amet
          maiores? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Tempora iste maxime natus possimus, eum, laborum numquam aperiam quod
          ex suscipit modi vero, vel dolorum sint ipsam iusto iure accusamus
          tempore assumenda deserunt quam enim provident? Perferendis neque
          iusto amet maiores? Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Tempora iste maxime natus possimus, eum, laborum
          numquam aperiam quod ex suscipit modi vero, vel dolorum sint ipsam
          iusto iure accusamus tempore assumenda deserunt quam enim provident?
          Perferendis neque iusto amet maiores?
        </p>
      </div>
    </div>
  </body>
</html>
